{
  "extends": "standard",
  "rules": {
    "semi": [
      "error",
      "always"
    ],
    "space-before-function-paren": [
      "error",
      "never"
    ],
    "eqeqeq": [
      "error",
      "smart"
    ],
    "no-return-assign": 0,
    "arrow-parens": [
      "warn",
      "as-needed"
    ],
    "indent": [
      "warn",
      2
    ],
    "comma-dangle": [
      "warn",
      "never"
    ],
    "linebreak-style": [
      "warn",
      "windows"
    ]
  }
}
